__pycache__
/data/
/dist/
/.vscode/
.pytest_cache
*.code-workspace
*checkpoint.ipynb
/sbi-logs/
case_studies/core_daphnia/docs/modelling_presentation
case_studies/core_daphnia/data/
case_studies/tktd_mix/data/Diclofenac
case_studies/tktd_mix/data/Naproxen
case_studies/tktd_mix/data/Diuron
case_studies/tktd_mix/data/Mix3
case_studies/tktd_mix/data/
case_studies/*/data/

case_studies/*/data/*.txt
case_studies/*/results/
case_studies/*/tests/

config/settings.json
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
/*.egg-info/
work
results
data