__pycache__
/data/
/dist/
/results/
/work/
/.vscode/
/sbi-logs/
*.code-workspace
*checkpoint.ipynb
.pytest_cache
case_studies/*/results/
case_studies/*/tests/

config/settings.json
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
/*.egg-info/
docs/build
build


# linked case studies
bufferguts
guts_base